@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

// fonts
$font-family-sans-serif: "Lato", sans-serif !default;

/*-- scss:defaults --*/

$body-bg: #ffffff;
$body-color: #314e62 !default;
$link-color: #dbad37 !default;
$code-color: #2ccbd3;
$code-block-font-size: 0.7em;
$code-color: #b24625;
$presentation-font-smaller: 1rem;

/*-- scss:rules --*/

h1 {
  font-family: "Fira Mono";
  font-size: 24px;
}

h2 {
  font-family: "Fira Mono";
  font-size: 22px;
}

.author, .date {
  font-size: 60px;
}

 .reveal .slide-logo {
     height: 65px !important; /* Adjust the height as needed */
     max-width: unset !important; /* Ensure the width isn't limited */
     max-height: unset !important; /* Ensure the height isn't limited */
      z-index: -1; /* Places the logo behind other elements */
   }

